n8n/workflows/01_payment_reminders.json
{
  "name": "ShopSmart - Daily Payment Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9 AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SHOPSMART_API_URL}}/api/reports/due-payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "daysOverdue",
              "value": "0"
            },
            {
              "name": "minAmount",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-due-payments",
      "name": "Fetch Due Payments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "ShopSmart API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.customers.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-customers",
      "name": "Has Customers?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "customers",
        "options": {}
      },
      "id": "split-customers",
      "name": "Split Customers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{$env.WHATSAPP_PHONE_ID}}",
        "recipientPhoneNumber": "=+91{{ $json.phone }}",
        "messageType": "template",
        "templateName": "payment_reminder",
        "templateLanguage": "hi",
        "templateComponents": {
          "component": [
            {
              "type": "body",
              "parameters": [
                {
                  "type": "text",
                  "text": "={{ $json.name }}"
                },
                {
                  "type": "text",
                  "text": "={{ $json.balance }}"
                },
                {
                  "type": "text",
                  "text": "={{ $json.shopName }}"
                }
              ]
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1250, 100],
      "credentials": {
        "whatsAppApi": {
          "id": "2",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "=+91{{ $json.phone }}",
        "message": "=Namaste {{ $json.name }} ji, aapka ₹{{ $json.balance }} baaki hai {{ $json.shopName }} mein. Jaldi payment karein. - ShopSmart Pro"
      },
      "id": "send-sms-fallback",
      "name": "SMS Fallback",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1450, 100],
      "credentials": {
        "twilioApi": {
          "id": "3",
          "name": "Twilio Account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SHOPSMART_API_URL}}/api/n8n/log-notification",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customerId\": \"{{ $json.customerId }}\",\n  \"userId\": \"{{ $json.userId }}\",\n  \"type\": \"payment_reminder\",\n  \"channel\": \"whatsapp\",\n  \"status\": \"sent\",\n  \"sentAt\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "log-notification",
      "name": "Log to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "ShopSmart API Key"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "no_customers_due"
            }
          ]
        },
        "options": {}
      },
      "id": "no-customers",
      "name": "No Customers Due",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [850, 400]
    },
    {
      "parameters": {},
      "id": "end-workflow",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1850, 200]
    }
  ],
  "connections": {
    "Daily 9 AM Trigger": {
      "main": [
        [
          {
            "node": "Fetch Due Payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Due Payments": {
      "main": [
        [
          {
            "node": "Has Customers?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Customers?": {
      "main": [
        [
          {
            "node": "Split Customers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Customers Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Customers": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send WhatsApp Reminder": {
      "main": [
        [
          {
            "node": "SMS Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Fallback": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "notifications",
      "id": "1"
    },
    {
      "name": "payments",
      "id": "2"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
